<div class="row row-centered margin-top-30" ng-controller="LoginCtrl">
  <div class="col-md-5 col-md-offset-4">
    <form class="form-signin" role="form" ng-submit="login(user)">
      <h2>Please Log In</h2>
      <div class="form-group margin-top-20">
        <input type="text" class="form-control" placeholder="User name" required="" autofocus="" ng-model="user.username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required="" ng-model="user.password">
      </div>
      <div class="text-right">
        <button class="btn btn-success" type="submit">Sign in</button>
      </div>
    </form>
  </div>
</div>
