<div class="panel panel-info">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Time Entries</h3>

    <div class="pull-right">
      <div class="dropdown pull-left">
        <a href="#" class="dropdown-toggle white-text" dropdown data-toggle="dropdown">
          <span ng-bind="currentDateFilter.name"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="dateFilter in dateFilters">
            <a href ng-click="setDateFilter(dateFilter)">{{dateFilter.name}}</a>
          </li>
        </ul>
      </div>
      <input type="text" placeholder="Search" ng-model="timeEntrySearch" class="pull-right search-box">
    </div>
  </div>

  <div class="panel-body">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Project</th>
          <th>Contractor</th>
          <th>Task and Notes</th>
          <th>Hours</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="timeEntry in timeEntries | filter:timeEntrySearch | byContractor:currentContractor">
          <td ng-bind="timeEntry.project.name" class="width-20"></td>
          <td ng-bind="fullName(timeEntry.contractor)" class="width-20"></td>
          <td ng-bind="taskAndNotes(timeEntry)"></td>
          <td ng-bind="timeEntry.hours"></td>
          <td ng-bind="dateToString(timeEntry.date)"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
