<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Freshbooks Reporter</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/vendor/angular-loading-bar/loading-bar.css">
    <link rel="stylesheet" href="/vendor/angular-toastr/angular-toastr.css">
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/vendor/cal-heatmap/cal-heatmap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/vendor/boostwatch.css">
    <!--STYLES END-->

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body ng-controller="AppCtrl">
    <%- partial ('shared/header.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <%- body %>
            </div>
        </div>
    </div>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/d3/d3.js"></script>
    <script src="/vendor/angular-animate/angular-animate.js"></script>
    <script src="/vendor/angular-loading-bar/loading-bar.js"></script>
    <script src="/vendor/angular-route/angular-route.js"></script>
    <script src="/vendor/angular-toastr/angular-toastr.js"></script>
    <script src="/vendor/bootstrap/bootstrap.js"></script>
    <script src="/vendor/cal-heatmap/cal-heatmap.js"></script>
    <script src="/vendor/lodash/lodash.compat.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/app/adduser/adduser.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/app/contractors/contractor-api.js"></script>
    <script src="/js/app/contractors/contractor-detail/contractor-detail.js"></script>
    <script src="/js/app/contractors/contractors-list/contractors-list-directive.js"></script>
    <script src="/js/app/contractors/contractors-list/contractors-list.js"></script>
    <script src="/js/app/dashboard/dashboard.js"></script>
    <script src="/js/app/login/login.js"></script>
    <script src="/js/app/projects/project-detail/project-detail.js"></script>
    <script src="/js/app/projects/projects-api.js"></script>
    <script src="/js/app/projects/projects-list/projects-list-directive.js"></script>
    <script src="/js/app/projects/projects-list/projects-list.js"></script>
    <script src="/js/app/settings/settings.js"></script>
    <script src="/js/app/time-entries/time-entries-api.js"></script>
    <script src="/js/app/time-entries/time-entries-list/time-entries-list-directive.js"></script>
    <script src="/js/app/time-entries/time-entries-list/time-entries-list.js"></script>
    <script src="/js/common/directives/dropdown.js"></script>
    <script src="/js/common/directives/gravatar.js"></script>
    <script src="/js/common/directives/heat-map.js"></script>
    <script src="/js/common/filters/by-contractor-filter.js"></script>
    <script src="/js/common/security/authorization.js"></script>
    <script src="/js/common/security/index.js"></script>
    <script src="/js/common/security/security.js"></script>
    <script src="/js/common/services/date.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
