<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Freshbooks Reporter</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/vendor/boostwatch.css">
    <!--STYLES END-->
  </head>

  <body ng-controller="AppCtrl">
    <%- partial ('shared/header.ejs') %>

    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/angular-route/angular-route.js"></script>
    <script src="/vendor/bootstrap/bootstrap.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/app/dashboard/dashboard.js"></script>
    <script src="/js/app/login/login.js"></script>
    <script src="/js/common/security/authorization.js"></script>
    <script src="/js/common/security/index.js"></script>
    <script src="/js/common/security/security.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
