// -------------------------------------------
//   Boostrap Overrides
// -------------------------------------------

/* Enable the scroll on panels */

.panel-body {
  overflow: auto;
}

/* Change the color of the spinner */

#loading-bar {
  .bar {
    background: #18bc9c;
  }

  .spinner-icon {
    border-top-color:  #18bc9c;
    border-left-color: #18bc9c;
  }
}
