<div class="row margin-top-30">
  <div class="col-md-12">
    <h2>User Settings:</h2>
  </div>
</div>
<div class="row margin-top-20">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form role="form" ng-submit="updUser(currentUser)">
      <hr/>
      <div class="form-group">
        <label>Email:</label>
        <input id="email" type="text" class="form-control" placeholder="Enter your email" autofocus="" ng-model="currentUser.email">
      </div>
      <hr/>
      <div class="form-group">
        <label>Do you want to receive the daily newsletter?</label>
        <div class="radio">
          <label>
            <input type="radio" ng-model="currentUser.sendNewsletter" ng-value="true">
            Yes!
          </label>
        </div>
        <div class="radio margin-top-10">
          <label>
            <input type="radio" ng-model="currentUser.sendNewsletter" ng-value="false">
            No
          </label>
        </div>
      </div>
      <hr/>
      <div class="form-group" ng-show="currentUser.superAdmin">
        <label>Are there any extra emails you want to include in the daily newsletter?</label>
        <textarea id="extraEmails" class="form-control" rows="3" placeholder="Enter emails separated by comma" autofocus="" ng-model="currentUser.extraEmails"></textarea>
      </div>
      <hr ng-show="currentUser.superAdmin" />
      <div class="text-right">
        <button class="btn btn-success" type="submit">Confirm</button>
      </div>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>